.topheader { background-color: #2a3644; width: 100%; height: 8px; }
header { background-color: #FFFFFF; width: 100%; height: 123px; }
header .headercontent { width: 1050px; margin-left: auto; margin-right: auto; }
header .logo { float: left; width: 220px; margin-top: 20px; }
header .steps { float: left; width: 700px; height: 25px; margin-left: 114px; margin-top: 48px; }
header .steps div { float: left; margin-right: 8px; }
header .steps-desc { float: left; width: 490px; height: 20px; margin-left: 100px; margin-top: 1px; font-size: 12px; }
header .steps-desc div { float: left; }
header .steps-desc #step1 { margin-left: 10px; }
header .steps-desc #step2 { margin-left: 67px; }
header .steps-desc #step3 { margin-left: 69px; }
header .steps-desc #step4 { margin-left: 67px; }
header .steps-desc #step5 { margin-left: 66px; }

#UpgradeButton {
    height: 60px;
    width: 260px;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 4px !important;
    font-size: 18px;
    font-weight: 600;
}

.blue {
    color: #2A3644;
}
.slight-bold {
    font-weight: 500;
}
.section-header {
    font-family: 'Open Sans', sans-serif;
    color: #003366;
    font-weight: 600;
    text-align: center;
}

.sub-section-header {
    font-family: 'Open Sans', sans-serif;
    color: #bf4040;
    font-weight: 600;
    font-size: 26px;
}

.sub-section-description {
    font-family: 'Open Sans', sans-serif;
    color: #bf4040;
    font-weight: 400;
    font-size: 14px;

}

.tertiary-text {
    font-family: 'Open Sans', sans-serif;
    color: #293742;
    font-weight: 600;
    font-size: 14px;
}

.small-vertical-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.medium-vertical-margins {
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {
    height: 2px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group label {
    font-family: 'Open Sans', sans-serif;
    color: #003366;
    font-weight: 600;
    text-align: center;
    margin-left: 3px;
}

.form-control[type=text] {
    height: 35px;
    padding: 6px 10px;
}
.form-control[type=submit][type=button], button, label.btn {
    background-color: #2a3644 !important;
    color: white;
}

.rounded-square {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 4px !important;
    border:solid 17px #f00;
    width:30px;
    height:30px;
}

#UploadText {
    margin-left: 15px;
}

.content { width: 1070px; margin-left: auto; margin-right: auto; }

footer { background-color: #2a3644; color: #ffffff; height: 80px; }
.copyright {
    font-family: 'Open Sans', sans-serif;
    padding-top: 31px;
    text-align: center;
}

.popup {
    background-color: white;
    width: 800px;
    height: 600px;
}