
body {
    border-top: 10px solid #2a3644;
}

.growth-bar {
    border-radius: 0px !important;
}

.website-url {
    background-image: url('/img/agencysignup/mobilereviews_text.png');
    background-repeat: no-repeat;
    background-position-x: 290px;
    background-position-y: 2px;
}

.main-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.right-container {
    padding-left: 60px;
}

.contact-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-text {

    font-weight: bold;
}
.contact-phone {
    font-weight: 500;
}

.contact-row label {
    margin-top: 8px;
}

.green-header {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.green-description {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}
#SecureImage {
    margin-top: 72px;
    margin-left: 20px;
}


.extra-small-vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-vertical-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.medium-vertical-margins {
    margin-top: 40px;
    margin-bottom: 40px;
}

.large-vertical-margins {
    margin-top: 70px;
    margin-bottom: 70px;
}

.right-header {
    font-family: 'Open Sans', sans-serif;
    color: #293742;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.right-feature {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}


.deal-section {
    font-family: 'Open Sans', sans-serif;
    color: #003366;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 20px;
}


.total-section {
    font-family: 'Open Sans', sans-serif;
    color: #293742;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.submit-section {
    margin-top: 30px;
}

.big-green-button {
    width: 80%;
    height: 100px;
    background-color: #65CE4D;
    color: white;
    font-size: 36px;
    font-weight: bold;
    border: none;
    /*margin-left: 75px;*/
}

.thin-white-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
}

.white-section {
    background-color: white;
}
.light-section {
    background-color: rgb(246, 246, 246);
}

.medium-section {
    background-color: rgb(236, 236, 236);
}

.small-raise {
    margin-top: -38px;
}

.green-text {
    color: #65CE4D;
    font-weight: 500;
}

.bottom-padding {
    padding-bottom: 50px;
}
.top-padding {
    padding-top: 50px;
}

.green-circle {
    background-image: url('/img/agencysignup/sales/icon_green_circle.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    padding-top: 7px;
    margin-left: -15px;
    margin-top: 10px;
}

.orange-border {
    border: 1px solid rgba(206, 179, 154, .2);
}

.black-border {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.bottom-black-border {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.sub-header-text {
    font-size: 20px;
    font-weight: 500;

}

.title-text {
    font-size: 14px;
    font-weight: 500;
}
.subtitle-text {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}
.description-text {
    font-size: 12px;
}

.star {
    background-image: url('/img/agencysignup/sales/star.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    float: left;
}

.thanks-container {
    margin-top: 150px;
}

footer {
    background-color: #2a3644; color: #ffffff; height: 80px;
}
.copyright {
    font-family: 'Open Sans', sans-serif;
    padding-top: 31px;
    text-align: center;
}

.popup {
    background-color: white;
    width: 800px;
    height: 600px;
}

.logo {
    width: 100%;
}