/* Invoices */
.invoices .table-scrollable {
    border: none;
}
.invoices select {
    margin: 10px 0px;
    height: 26px;
    border-radius: 0px !important;
    width: 34px !important;
    padding: 0px !important;
}
.invoices .numberSelect,
.invoices .dataTables_paginate.paging_bootstrap_number {
    text-align: center;
}
@media (min-width: 768px) {
    .invoices .numberSelect {
        float: right;
    }
    .invoices .numberSelect,
    .invoices .dataTables_paginate.paging_bootstrap_number {
        text-align: left;
    }
}

/* 
Reformat the table for devices smaller that 890px

@media (max-width: 1024px) {
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    /* Hide table headers (but not display: none;, for accessibility)
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { 
        border: 1px solid #ccc; 
        margin: 2px 0;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /* Label the data
    td:nth-of-type(1):before { content: "Type"; }
    /*td:nth-of-type(2):before { content: "Date"; }
    td:nth-of-type(3):before { content: "Subscription Id"; }
    td:nth-of-type(4):before { content: "Term/Status"; }
    td:nth-of-type(5):before { content: "Plan"; }
    td:nth-of-type(6):before { content: "Amount"; }
    td:nth-of-type(7):before { content: "Invoice"; }
    
}*/
 
