
div.remember {
	margin-top: 7px;
	color: #969696;
}

div.remember label {
	padding-top: 15px;
}

div.forgot {
	margin-top: 7px;
	color: #dadada;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
	margin-left: 10px;
	margin-right: 10px;
}

table.signup td {
	padding: 10px;
}

table.signup .alert {
	margin-bottom: 0;
    margin-top: 3px;
}

table.perms select {
	margin-top: 5px;
	margin-right: 10px;
}

table.perms label {
	margin-right: 10px;
}

div.main-container {
	min-height: 450px;
}

/* Subscription styles */
.subscription .growth-bar {
    text-align: right;
    background-color: transparent;
}
.subscription .search-btn > a {
    background-color: #65CE4D;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
}
.subscription .caption > span {
    text-align: left;
}
.subscription .credit-card-info .portlet-body .panel {
    border-color: transparent;
    margin-bottom: 0px;
}
.subscription .credit-card-info .portlet {
    padding: 0px 20px;
}
.subscription .credit-card-info .portlet-body .panel .row {
    /* margin-bottom: 20px; */
}
.subscription-panel,
.subscription-panel .subscription-contact-us {
    background-color: #65CE4D;
    border-radius: 5px !important;
}

.subscription-parameters, 
.subscription-type,
.contact-us-header,
.contact-us-subheader {
    color: #FFFFFF;
}
.portlet.light.bordered.dashboard-panel.change-plan .portlet-body,
.contact-us-subheader {
    text-align: center;
}
.portlet.light.bordered.dashboard-panel.change-plan .portlet-body button {
    margin: 0 5px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}
.portlet.light.bordered.dashboard-panel.change-plan .portlet-body button:active,
.portlet.light.bordered.dashboard-panel.change-plan .portlet-body button:focus {
    background-color: #33cc33;
}
.portlet.light.bordered.dashboard-panel.change-plan .portlet-body button:hover {
    border: solid 1px #33cc33;
}
.subscription-parameters,
.subscription-contact-us .contact-us-subheader {
    font-size: 1.5rem;
}

.subscription-type,
.subscription-contact-us .contact-us-header {
    font-size: 6rem;
}

.panel.panel-default.quota-panel,
.pull-right.panel.panel-default.subscription-contact-us,
.change-plan .panel.panel-default.subscription-panel {
    margin-bottom: 0px;
}
.pull-right.panel.panel-default.subscription-contact-us {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.active-plan .subscription-panel div > div  {
    position: relative;
}
.active-plan .subscription-panel div > div > .subscription-parameters,
.change-plan .subscription-panel div > div > .subscription-parameters {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.active-plan .subscription-panel .subscription-parameters > div > span,
.change-plan .subscription-panel .subscription-parameters > div > span {
    font-weight: bold; 
}
.active-plan .quota-panel .subscription-parameters {
    text-align: center; 
    color: #000000;
}
.add-locations .subscription-panel .subscription-parameters > div,
.add-messages .subscription-panel .subscription-parameters > div {
    text-align: center;
}
 
.portlet.light.bordered.dashboard-panel.change-plan {
    min-height: 0;
}

.subscription .change-plan .search-btn > a {
    background-color: #ff9c00;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
}
