/* Subscriptions */
.subscription-btn {
    color: #FFF !important;
    border-color: none !important;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    padding: 6px 24px;
    font-weight: bold;
}
.subscription-panel .slider-quota-caption > div,
.subscription-panel-default-caption div,
.subscription-panel-large-caption,
.subscription-panel-contact-us,
.subscription-panel-group .portlet-title .caption > span,
.plans-and-payments-row .quota-display,
.plans-and-payments-row .payment-info .credit-card-details div[class*="col-"],
.change-plan .form-group {
   text-align: center;
} 
.subscription-panel-group .panel.panel-default {
   border-radius: 5px !important;
}
.subscription-panel .slider-quota-caption,
.subscription-panel-default-caption, 
.subscription-panel-large-caption,
.subscription-panel-contact-us {
   color: #FFFFFF;  
}
.subscription-panel-quota-caption,
.subscription-panel-default-caption {
    font-size: 1.5rem;
}
.subscription-panel-large-caption {
    font-size: 5rem;
}
.subscription-panel-contact-us > div {
    border-radius: 5px !important;
    border: 1px solid #FFF;
}
.subscription-panel-contact-us > div > div {
    line-height: 1;
}
.subscription-panel-contact-us > div > div:nth-child(1) {
    padding: 10px 30px 0;
    font-size: 5rem;
}
.subscription-panel-contact-us > div > div:nth-child(2) {
    padding: 0px 30px 10px;
    font-size: 2rem;
}
.subscription-panel-large-caption > sup,
.subscription-panel-large-caption > sub {
    font-size: 2.0rem;
}
.subscription-panel-large-caption > sup {
    top: -3.5rem;
}
.subscription-panel-large-caption > sub {
    bottom: 0.1rem;
}
.subscription-panel .slider-quota-caption {
    padding: 0px;
}
#paid-annually-caption {
    font-size: 1.5rem;
    line-height: 1;
}
#annual-cost {
    margin: 0 5px; 
}
.plans-and-payments-row .payment-info .credit-card-details > div > input,
.plans-and-payments-row .payment-info .credit-card-details > div > div {
    display: inline-block;
}
.plans-and-payments-row .payment-info .credit-card-details input {
    width: auto;
}
.plans-and-payments-row .payment-info .credit-card-details img {
    height: 34px;
}
.credit-card-details .row.small {
    display: block;
}
.credit-card-details .row.small input {
    margin: auto;
}
.credit-card-details .row.large {
    display: none;
}
.change-plan .growth-bar,
.change-plan .form-group {
    margin-bottom: 0px;   
}
.change-plan.modal-dialog,
.credit-card-details.modal-dialog {
    width: 400px;
    margin: 30px auto !important;
}
.change-plan .modal-header,
.credit-card-details .modal-header {
    padding-bottom: 0px;
}
.change-plan .modal-header .caption {
    text-align: center;
}
.credit-card-details .modal-footer .form-group {
    text-align: center;
}
.subscription-toggle .btn:hover,
.subscription-toggle .btn:focus,
.subscription-toggle .btn:active {
    background-color: transparent !important;
}
.subscription-toggle .btn,
.subscription-toggle .btn.active {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold !important;
    padding: 6px 32px;
    color: #000 !important;
}
.subscription-toggle .btn,
.btn-group.subscription-toggle {
    border-color: #E6E6E6 !important;
    background-color: #E6E6E6 !important;
}
.subscription-toggle .btn,
.subscription-toggle .btn.active,
.btn-group.subscription-toggle {
    border-radius: 30px !important;
}
.subscription-toggle .btn.active {
    border-color: #FFF !important;
    background-color: #FFF !important;
    border: 1px solid #E6E6E6 !important;
}
.btn-group.subscription-toggle {
    border: 2px solid #E6E6E6 !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #FFF  !important;;
    font-weight: bold !important;
    background: #65CE4D !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #FFF  !important;;
    font-weight: bold !important;
    background: #65CE4D !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    color: #FFF;
    background: #C01209 none repeat scroll 0% 0%;
}

@media (min-width: 768px) {
  .responsive-float-left { 
      float: left; 
  }
  .responsive-float-right { 
      float: right; 
  }
  .subscription-panel-default-caption {
      position: relative;
      top: -50%;
      transform: translateY(50%);
      font-size: 1.5rem;
  }
  .subscription-panel-default-caption div {
      text-align: left;
  }
}
@media (min-width: 1190px) {
    .subscription-panel-group.plans-and-payments-row .portlet.light.bordered.dashboard-panel {
        height: 348px;
    }
    .plans-and-payments-row .payment-info .credit-card-details div[class*="col-"] {
        text-align: center;
    }
    .plans-and-payments-row .payment-info .credit-card-details input {
        width: 100%;
    }
    .credit-card-details .row.large {
        display: block;
    }
    .credit-card-details .row.small {
        display: none;
    }
    .subscription-panel-group .portlet-title .caption > span {
        text-align: left;
    }
}


/* Invoices */
.pricing-plans .table-scrollable,
.invoices .table-scrollable {
    border: none;
}
.pricing-plans select,
.invoices select {
    margin: 10px 0px;
    height: 26px;
    border-radius: 0px !important;
    width: 34px !important;
    padding: 0px !important;
}
.pricing-plans .numberSelect,
.invoices .numberSelect,
.pricing-plans .dataTables_paginate.paging_bootstrap_number,
.invoices .dataTables_paginate.paging_bootstrap_number {
    text-align: center;
}
@media (min-width: 768px) {
    .pricing-plans .numberSelect,
    .invoices .numberSelect {
        float: right;
    }
    .pricing-plans .numberSelect
    .invoices .numberSelect,
    .pricing-plans .dataTables_paginate.paging_bootstrap_number,
    .invoices .dataTables_paginate.paging_bootstrap_number {
        text-align: left;
    }
}
.pricing-plans .caption .caption-subject {
    margin-top: 1px;
}
.portlet.light.pricing-plans > .portlet-title > .tools {
    margin-top: 0px;
    padding: 0px;
}
.portlet.light.pricing-plans > .portlet-title > .tools > .btn {
    height: auto;
    margin-top: -75px;
}

.pricing-plans .portlet-title > .caption.subscription-caption,
.pricing-plans .portlet-title > .caption.subscription-name {
    width: 50%;
}
.pricing-plans .portlet-title > .caption.subscription-name > .caption-subject {
    text-align: right !important;
}
.pricing-plans .portlet-title > .caption.subscription-name > span > span {
    font-weight: normal;
}
.pricing-plans .control-label {
    font-size: 1.3rem;
}
.pricing-plans select.form-control {
    width: 100% !important;
    margin: 0px;
}
.pricing-plans .portlet-title .caption > span.price-includes {
    text-align: left;
}
.pricing-plans.editor {
    margin-top: 20px;
}
.pricing-plans.editor .note-editor.panel.panel-default {
    border: none !important;
}
.pricing-plans.editor .note-editor.panel.panel-default .note-editing-area {
    border: 1px solid #C2CAD8;
    border-radius: 4px !important;
}
.pricing-plans.editor .note-editor.panel.panel-default .note-toolbar.panel-heading {
    background-color: #FFF;
    border: none !important;
    padding-bottom: 20px;
    padding-left: 0px !important;
}
.pricing-plans.editor .note-editor.panel.panel-default .note-font.btn-group button {
    margin: 0px 2px;
}
.pricing-plans .row {
    min-height: 50px;
}
.pricing-plans .form .form-bordered .form-group > div {
    border: none;
}
.pricing-plans .progression th {
    font-size: 14px;
}
.pricing-plans .progression .input-xsmall {
    width: 70px !important;
}
.pricing-plans .progression-controls {
    margin-top: 20px;
}
.pricing-plans .progression-controls a {
    float: right;
    margin: 5px;
}

/* 
Reformat the table for devices smaller that 890px

@media (max-width: 1024px) {
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    /* Hide table headers (but not display: none;, for accessibility)
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { 
        border: 1px solid #ccc; 
        margin: 2px 0;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /* Label the data
    td:nth-of-type(1):before { content: "Type"; }
    /*td:nth-of-type(2):before { content: "Date"; }
    td:nth-of-type(3):before { content: "Subscription Id"; }
    td:nth-of-type(4):before { content: "Term/Status"; }
    td:nth-of-type(5):before { content: "Plan"; }
    td:nth-of-type(6):before { content: "Amount"; }
    td:nth-of-type(7):before { content: "Invoice"; }
    
}*/
 
